
@font-face {
    font-family: 'Charis';
    src: url("../fonts/CharisSIL-Regular.ttf");
}

body{
    background-color: #232528
}

.title{
    top: 41vh;
    left: 26vw;
    padding-right: 10%;
    position: absolute;
    font-size: 6vmin;
    font-family: Charis;
    font-weight: bold;
    color: #FFFFFF;
}

.iconbox{
    margin: 30%;
    padding-left: 40%;
}

.icons{
    color: #FFFFFF;
    position: absolute;
    width: 5%;
    height: 5%;
}

.github{
    top: 47%;
    left: 60%;
}

.discord{
    top: 34%;
    left: 60%;
}

.email{
    top: 60%;
    left: 60%;
}

.icons:hover{
    transform: scale(1.2);
}
