
@font-face {
    font-family: 'Charis';
    font-display: swap;
    src: url("../fonts/CharisSIL-Regular.ttf");
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body{
    background-image: linear-gradient(to bottom right, #0f0f0e,#232528);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.title{
    top: 47vh;
    left: 24vw;
    position: absolute;
    font-size: 50px;
    font-family: Charis;
    font-weight: bold;
    color: #FFFFFF;
    animation: fadeIn linear 1 1s;
}

.iconbox{
    margin: 30%;
    padding-left: 40%;
}

.icons{
    color: #FFFFFF;
    position: absolute;
    width: 8%;
    height: 8%;
    animation: fadeIn linear 1 1s;
}

.github{
    top: 51%;
    left: 60%;
}

.discord{
    top: 38%;
    left: 60%;
}

.email{
    top: 64%;
    left: 60%;
}

.icons:hover{
    transform: scale(1.2);
}

/*Adds Reponsiveness to elements*/
@media screen and (max-width: 730px) {
    .title{
        font-size: 6vmin;
        top: 15vh;
        left: 35%;
        text-align: center;
    }
    
    .icons{
        left: 45%;
    }
}
